Convertor/*iml
*/.idea
*/target/*
src/data
src/runs/
logs
.tt
.projects
.project
.settings
celerybeat-schedule
.classpath
/src/static
src/SterlingTester/local_settings.py
*.log
*.pid
nohup.out
Debug
*.suo
Release
*.opensdf
*.sdf
*.ipch

target
HELP.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.mvn*
mvnw*


